* {
  font-family: arial;
  background-color: lightblue;
}

h1 {
  color: White;
  text-align: center;
  font-family: arial;
  font-size: 4rem;
  margin-top: 120px;
  margin-bottom: 110px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  font-size: 14rem;
  text-align: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 50px;
}

#myButton {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 3rem;
  border-radius: 12px;
  padding: 15px;
  border-width: 3px;
}

#myButton:hover {
  color: black;
  background-color: white;
  border-color: black;
}

div {
  text-align: center;
}

input {
  font-size: 3rem;
  background-color: grey;
  color: black;
  text-align: center;
  border-radius: 6px;
}

button {
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 3rem;
  display: block;
  text-align: center;
  border-radius: 6px;
}

*/