* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
  font-size: 4rem;
  margin-top: 25px;
}

div {
  text-align: center;
}

input {
  font-size: 3rem;
  background-color: grey;
  color: black;
  text-align: center;
}